* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.main {
    width: 100%;
    height: 100vh;
   background-color: #577D86;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 36px;
    color: white;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.container3 {
    display: flex;
    height: 100vh;
    gap: 25px;
}

.teks {
    width: 600px;

}

.image1 {
    height: 625px;
    width: 300px;
    margin-left: 25px;
}

.image2 {
    height: 630px;
    width: 300px;
    margin-left: 15px;
}

.container {
    margin-left: 200px;
    margin-top: 125px;
    text-align: left;
    color: white;
}

.garis-putih {
    width: 600px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.tombol {
    background-color: #fff; /* Putih */
    color: #577D86; /* Hitam */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.footer1 {
    background-color: #333; 
    color: #fff;
    padding: 50px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h2 {
    color: #00d48aea; 
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
   margin-top: 20px;
    border-top: 1px solid #555; /* Abumuda */
    padding-top: 20px;
    text-align: center;
}

.isi {
    padding-top: 5px;
    background-color: rgba(128, 128, 128, 0.344);
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 100px;
    width: 1275px;
    margin-left: 125px;
    height: 480vh;
    margin-bottom: 100px;
}

.kotak1 {
    background-color: white;
    border-radius: 5px;
    margin-left: 50px;
    width: 320px;
    height: 515px;
    margin-top: 20px;
}

.flex {
    display: flex;
    gap: 80px;
}

.tanaman1 {
    width: 280px;
    height: 180px;
    margin-top: 15px;
    margin-left: 20px;
}

.judul {
    margin-left: 50px;
    margin-top: 20px;
    color: #fff;
}

.tulisan1 {
   align-items: center;
   display: flex;
   flex-direction: column;
}

.kotak2 {
    background-color: white;
    border-radius: 5px;
    width: 320px;
    margin-top: 20px;
    height: 515px;
}

.kotak3 {
    background-color: white;
    border-radius: 5px;
    width: 320px;
    margin-top: 20px;
    height: 515px;
}

.atas {
    background-color: #577D86;
    border-radius: 5px;
    width: 1230px;
    height: 1180px;
    margin-left: 20px;
    padding-top: 10px;
    margin-top: 13px;
}

.teks-p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.tombol-lanjut{
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 5px;
}

.tombol-lanjut2 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 65px;
}

.tombol-lanjut3 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 123px;
}

.tombol-lanjut4 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 123px;
}

.tombol-lanjut5 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 105px;
}

.tombol-lanjut6 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 140px;
}

.atas1 {
    background-color: #577D86;
    border-radius: 5px;
    width: 1230px;
    height: 1180px;
    margin-left: 20px;
    padding-top: 10px;
    margin-top: 70px;
}

.tombol-lanjut7 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 125px;
}

.tombol-lanjut8 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 145px;
}

.tombol-lanjut9 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 125px;
}

.tombol-lanjut10 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 88px;
}

.tombol-lanjut11 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 108px;
}

.tombol-lanjut12 {
    background-color: #577d86d2;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    margin-top: 110px;
}

.atas3 {
    background-color: #577D86;
    border-radius: 5px;
    width: 1230px;
    height: 1180px;
    padding-top: 10px;
    margin-top: 120px;
}